#contact {
	color: #ce827a;
}

.contact {
	padding: 50px;
}

#heading {
	padding: 50px 50px 0px 50px;
	font-family: 'Montserrat', sans-serif;
}

#errorMessage {
	color: red;
	padding-left: 50px;
}

#submit {
	background-color: #c68281;
	border: none;
}