body {
	background-color: #e9ecef;
}

#contact {
	color: #ce827a;
}

.contact {
	padding: 50px;
}

#heading {
	text-align: center;
	padding: 50px 50px 0px 50px;
	font-family: 'Montserrat', sans-serif;
}

#contactMe {
	color: #635858;
}

#myEmailAddress {
	color: #c68281;
}

#errorMessage {
	color: red;
	padding-left: 50px;
}

.custom-control-indicator {
	border: 1px solid rgba(0,0,0,.15);
}

#submit {
	background-color: #7bbac5;
	border: none;
}

@media only screen and (max-width: 575px) {

	h1 {
		font-size: 30px;
	}

}

@media only screen and (max-width: 410px) {

	h1 {
		font-size: 20px;
	}

	.contact {
		padding: 20px;
	}

}