html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.stickyFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
}

#graphics {
	color: #ce827a;
}

.graphicsProject {
		height: 300px;
		padding: 0px;
		overflow: hidden;
}

#project1 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project1/project1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#project2 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project2/project2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#project3 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project3/project3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project4 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project4/project4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project5 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project5/project5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project6 {
	padding: 0px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#project7 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project7/project7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project8 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project8/project8.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project9 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project9/project9.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project10 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project10/project10.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project11 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project11/project11.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#project12 {
	height: 300px;
	width: 100%;
	background-image: url(images/graphics/project12/project12.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.projectImage {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.projectImage:hover {
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
     transform:scale(1.08);
}

#myTurntable {
	height: 300px;
}

.image {
	height: 300px;
	background-color: #fff8ed;
}

.turntable {
	margin: 0px; 
}

.turntable ul {
	padding: 0px;
	margin: 0px; 
}

.turntable ul li {
	list-style-type: none;
	display: none; 
}

.turntable ul li img {
	width: 100%; 
}

.turntable ul li.active {
	display: block; 
}

@media only screen and (max-width: 991px) {

	.graphicsProject {
		height: 200px;
	}

}


@media only screen and (max-width: 767px) {

	.graphicsProject {
			height: 300px;
	}
}

@media only screen and (max-width: 575px) {

	.turning {
		opacity: 0.0;
	}

	#project6 {
		background-image: url(images/graphics/project6/beer1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#project11 {
		background-image: url(images/graphics/project11/project11.jpg);
		background-position: center;
		background-size: 110;
	}

	.graphicsProject {
			height: 275px;
	}
}
