body {
	margin: 0px;
	padding: 0px;
}

.row {
	margin: 0px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#menu {
	background-color: #635858;
	padding: 15px;
	height: 75px;
	font-family: 'Montserrat', sans-serif;
}

#myName {
	color: #a3cfd3;
}

#graphics, #web, #contact {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 40px;
	margin-right: 20px;
	color: #a3cfd3;
}

#myName:hover, #graphics:hover, #web:hover, #contact:hover{
	color: #7bbac5;
	text-decoration: none;
}

#logo {
	float: left;
	height: 45px;
	margin-right: 15px;
}

#footer {
	height: 90px;
	background-color: #635858;
	padding: 10px 10px 0px 10px;
}

.footerText {
	text-align: center;
	padding: 20px;
	color: #a3cfd3;
}

#privacy {
	color: #c68281;
}

#github, #linkedin, #dribbble, #instagram {
	margin: 20px;
}

@media only screen and (max-width: 991px) {
.menuItems {
	text-align: right;
	padding: 0px;
}

}

@media only screen and (max-width: 767px) {
#myName {
	text-align: center;
	margin: auto;
	display: block;
}

#home {
	text-align: center;
	margin: auto;
	display: block;
}

#menu {
	height: 125px;
	text-align: center;
}

.menuItems {
	text-align: center;
}

}

@media only screen and (max-width: 575px) {
#home {
	text-align: center;
}

#menu {
	height: 125px;
}
.menuItems {
	text-align: center;
}

}

@media only screen and (max-width: 410px) {
	#myName {
		font-size: 35px;
	}

	#menu {
		padding-right: 0px;
		padding-left: 0px;
		height: 145px;
	}
}
