body {
	background-color: #e9ecef;
}

#thankYou {
	padding: 50px;
	text-align: center;
}

#emailIcon {
	height: 100px;
	margin: 50px;
}

#thanksText {
	color: #c68281;
}

#reachOut {
	color: #635858;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -90px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.stickyFooter{
	width: 100%;
	position: absolute;
	bottom: 0px;
  	height: 90px; 
}