.project {
	border-bottom: 2px #c4c4c4 solid;
}

.description {
	border-bottom: 2px #c4c4c4 solid;
}

.tech {
	line-height: 30px;
}

#webProject1 {
	padding: 0px;
}

.webProjectDescript {
	padding: 30px 50px 30px 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 25px;
}

#webProject2 {
	background-image: url(../assets/images/webProject2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#webProject3 {
	padding: 0px;
}