body {
	background-color: #e9ecef;
}

a {
	color: #635858;
}

a:hover {
	color: #7bbac5;
	text-decoration: none;
}

.githubIcon {
	padding-bottom: 6px;
}

.githubIcon:hover {
	opacity: 0.5;
}

#web {
	color: #c68281;
}

.project {
	border-bottom: 2px #c4c4c4 solid;
}

.description {
	border-bottom: 2px #c4c4c4 solid;
}

.tech {
	line-height: 30px;
	color: #635858;
}

.projectName {
	color: #635858;
}

.projectName:hover {
	color: #c4c4c4;
	text-decoration: none;
}

#webProject1 {
	padding: 0px;
	border-right: 2px #c4c4c4 solid;
	background-color: #e8e8e8;
}

.webProjectDescript {
	padding: 30px 50px 30px 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 25px;
}

#webProject2 {
	border-left: 2px #c4c4c4 solid;
	background-image: url(../assets/images/web/webProject2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e8e8e8;
}

#webProject3 {
	border-right: 2px #c4c4c4 solid;
	padding: 0px;
	background-color: #e8e8e8;
}

#webProject4 {
	border-left: 2px #c4c4c4 solid;
	background-color: #e8e8e8;
}

#webProject5 {
	border-right: 2px #c4c4c4 solid;
	background-image: url(../assets/images/web/webProject5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e8e8e8;
}

@media only screen and (max-width: 991px) {

	#webProject1 {
		padding: 60px 0px 0px 0px;
		border-right: 2px #c4c4c4 solid;
		background-color: #e8e8e8;
	}


	#webProject4 {
		border-left: 2px #c4c4c4 solid;
		background-color: #e8e8e8;
		padding: 30px 0px 0px 0px;

	}

}

@media only screen and (max-width: 767px) {

	.order-first {
		order: -1;
	}

	.carousel-item {
		opacity: 0.0;
	}

	#webProject1 {
		padding: 0px;
		border-right: 2px #c4c4c4 solid;
		background-color: #e8e8e8;
		background-image: url(../assets/images/web/project1_2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#webProject2 {
		height: 300px;
		border-left: 2px #c4c4c4 solid;
		background-image: url(../assets/images/web/webProject2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #e8e8e8;
	}

	#webProject3 {
		height: 300px;
		padding: 0px;
		border-right: 2px #c4c4c4 solid;
		background-color: #e8e8e8;
		background-image: url(../assets/images/web/project3_1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#webProject4 {
		padding: 0px;
		border-right: 2px #c4c4c4 solid;
		background-color: #e8e8e8;
		background-image: url(../assets/images/web/project4_2.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#webProject5 {
		height: 300px;
		background-position: center;
	}
}

@media only screen and (max-width: 575px) {
	.order-first {
		order: -1;
	}

	#webProject1 {
		
	}

	#webProject2 {
		background-position: center;
		height: 300px;
	}

	#webProject3 {
	
	}

	#webProject4 {
	
	}

	#webProject5 {
		
		height: 300px;
		background-position: center;
	}

}